<div class="header" fxLayout="row">
  <div class="brand-banner" fxFlex="75" fxLayoutAlign="center center">
    <div class="logo" fxFlex="15">
      <h3>Vicky's</h3>
    </div>
    <div class="app-nav" fxFlex="85" fxLayoutGap="20px">
      <a>HOME</a>
      <a>ABOUT US</a>
      <a>OCCASIONS</a>
      <a>ORDER</a>
    </div>
  </div>
  <div class="cart-container" cdkDropList id="cartList" [cdkDropListData]="cartData.products"
    (cdkDropListDropped)="dropInCart($event)" fxFlex="25" fxLayoutAlign="center center">
    <span>TOTOAL AMOUNT: ${{cartData.totalAmount}} | </span>
    <mat-icon>shopping_cart</mat-icon>
    <span class="product-quantity">{{cartData.totalProductQuantity}}</span>
  </div>
</div>