.product-quantity {
  position: absolute;
  right: 65px;
  top: 10px;
}

.products {
  background-color: #d4d1d1;
  padding: 30px 20px 20px;
}

.product-wrapper { padding-top: 20px; }

.product-container { cursor: pointer; }

.product-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.select-box{  width: 45px; }

.cdk-drag {  text-align: center; }