<section class="products">
  <h2>Top Products</h2>
  <p class="description">
    To add desired products to the cart, simply drag a product image to the cart icon found at the top right of the page
  </p>
  <div class="product-wrapper" cdkDropList [cdkDropListData]="products" cdkDropListConnectedTo="cartList" fxLayout="row">
    <div class="product-container" *ngFor="let product of products" fxFlex="25" fxLayout="column"
      fxLayoutAlign="center center" fxLayoutGap="10px" cdkDrag>
      <div class="product-image">
        <img [src]="product.image" [alt]="product.name">
      </div>
      <div class="product-name">{{product.name}}</div>
      <div class="pink-color">${{product.price}}</div>
      <select class="select-box" [(ngModel)]="product.quantity">
        <option *ngFor="let quantity of product.inStock" [value]="quantity">{{quantity}}</option>
      </select>
    </div>
  </div>
</section>