/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  color: #696767;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  color: #ea0b91;
}

a{
  color: #ffffff;
  cursor: pointer;
}

.pink-color {
  color: #ea0b91;
}

.pink-color-bold {
  color: #ea0b91;
  font-weight: bold;
}
