<div class="footer" fxLayout="row">
  <div class="footer-section" fxFlex="33" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
    <div class="pink-color-bold">GET TO KNOW US</div>
    <a>About Us</a>
    <a>Careers</a>
    <a>Media</a>
    <a>Security & Privacy</a>
  </div>
  <div class="footer-section" fxFlex="33" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
    <div class="pink-color-bold">LEARN MORE ABOUT</div>
    <a>Blog</a>
    <a>Find a Florist</a>
    <a>Floral Tips & Inspiration</a>
    <a>Sitemap</a>
  </div>
  <div class="footer-section" fxFlex="33" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
    <div class="pink-color-bold">SHOP VICKY'S</div>
    <a>Same-Day Flower Delivery</a>
    <a>Birthday Flowers</a>
    <a>Funeral & Sympathy Flowers</a>
    <a>International Flower Delivery</a>
  </div>
</div>